<!DOCTYPE html>

<html lang="fr" >
    <head>
    <meta charset="utf-8" />
    <title>Profil</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="../test.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!--Navbar lien-->
        <%- include('navbar.php'); %>

        <!-- Acceuil-->
        <div>

            <!-- Navbar Profil/Contact-->
            <nav class="navbar navbar-light bg-light">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="Profil.php">Profil</a>
                    <a class="nav-link" href="contact.ejs">Contact</a>
                </div>
            </nav>

            <!-- Card profil-->
            <div>
                <h5>Nom utilisateur</h5>
                <p><%= infos.pseudo%></p>

                <h5>Pays</h5>
                <p><%= infos.pseudo%></p>

                <h5>Fuseau horaire</h5>
                <p><%= infos.fuseauHorraireJoueur%></p>

                <h5>Description</h5>
                <p><%= infos.description%></p>
            </div>

            <div>
                <h5>preference de jeu</h5>
                <div>
                    <div>
                        <p>Niveu de jeu</p>
                        <ul>

                            <% preference[0].forEach((element) =>{ %>
                            <li><%= element.Valeur%></li>
                            <% });  %>

                        </ul>
                    </div>
                    <div>
                        <p>Genre</p>
                        <ul>

                            <% preference[1].forEach((element) =>{ %>
                            <li><%= element.Valeur%></li>
                            <% });  %>

                        </ul>
                    </div>
                </div>
                <div>
                    <div>
                        <p>Systeme de preference</p>
                        <ul>

                            <% preference[2].forEach((element) =>{ %>
                            <li><%= element.Valeur%></li>
                            <% });  %>

                        </ul>
                    </div>
                    <div>
                        <p>Meta</p>
                        <ul>

                            <% preference[3].forEach((element) =>{ %>
                            <li><%= element.Valeur%></li>
                            <% });  %>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>