<!DOCTYPE html>

<html lang="fr" >
<head>
    <meta charset="utf-8" />
    <title>Resultat</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="../style.css">
    </head>
    <body>

        <div class="container">
          <div class="row">
            <%- include('navbar.ejs'); %>

            <div class="col-xl">
            <h5>Resultat de la recherche</h5>

            <div>
                <select class="form-select" aria-label="Default select example">
                    <option selected value="1">Parties récentes</option>
                    <option value="2">Parties anciennces</option>
                </select>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Système</option>
                    <option value="1">D&D 4e</option>
                    <option value="2">CyberPunk</option>
                    <option value="3">Personalisé</option>
                </select>
                </select><select class="form-select" aria-label="Default select example">
                    <option selected>Titre</option>
                    <option value="1">Auteur</option>
                    <option value="2">Description</option>
                </select>
                </select>

                <div class="black-background" style="padding-right: 5px; padding-left:5px">
                <% res.forEach(function(partie){
                %>
                <div>


                    <div class="card-white">
                        <div class="card-body">
                            <h6 class="card-title"><%-partie.donnee.nomPartie %></h5>
                                <p class="card-text"><%-partie.donnee.nomSysteme %></p>



                                <ul>
                                    <% partie.donnee.caracteristiques.forEach((carac) => { %>
                                        <li> <%= carac.caracteristique %></li>
                                    <%  }); %>
                                </ul>
                                <p> <%= partie.donnee.nombreJoueur %> joueur(s)</p>
                        </div>
                        <h6 class="card-title"><%= partie.donnee.descriptionPartie%></h6>
                        <hr>
                        <a href="/partie/<%=partie.idPartie%>"><button type="button" class="btn-default">Plus de détails</button></a>
                      </div>
                  </div>

                        <%  });%>
                </div>

            </div>
          </div>
          </div>
        </div>
    </div>
</div>

</body>
</html>
